# Node dependencies
node_modules/

# Caches
.expo/
metro-cache/

# Build files
dist/
build/
web-build/

# API keys and secrets
.env
*.env

# Log files
*.log
npm-debug.*

# Keystore files
*.jks
*.p8
*.p12
*.key

# Other
*.mobileprovision
.orig.
.DS_Store